extends ../layouts/app
block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        form.product-form(action="/admin/edit-product", method="POST")
            include ../includes/product-form
            input(type="hidden", name="id", value=product.id)
            button.btn(type="submit") Edit Product